.container {
  position: relative;
  display: inline-block;
  font-size: 16px; /* 基础大小，可通过外层容器调整 */
}

.plateImage {
  height: 2.4em;
  vertical-align: middle;
  user-select: none;
  -webkit-user-drag: none;
}

.rksValue {
  position: absolute;
  top: 49%;
  left: 77%;
  right: 0%;
  transform: translateY(-50%);
  color: #ffffff;
  font-family:  sans-serif;
  font-size: 0.7em;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.05em;
}